/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


body{
  background-color: #f4f4f4;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/*Global */
.container{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

header{
  color: white;
}

header h1{
  font: 800 24px 'Open Sans', sans-serif;
}

header #title{
  float: left;
}

#Landing{
  background: url('../images/header_bg.jpg') no-repeat 0 -100px;
  background-size: cover;
}

#showcase h2{
  color: white;
  font: 600 24px 'Open-Sans', sans-serif; 
  text-align: center;
}

.button-1{
  background-color: #f9e42e;
  padding: 10px 30px;
  border-radius: 5px;
  color: #033048;
  font: 800 14px 'Open-Sans', sans-serif;
  margin-bottom: 200px;
  margin-top: 50px;
}

#Benefits{
  background-color: #f0efef;
  margin-top: 0;
  padding: 0;
}

#Benefits h2{
  font: 600 20px 'Open Sans', sans-serif;
}

#Benefits p{
  font: 300 13px 'Open Sans', sans-serif;
}

#Benefits ul{
  font: 300 13px 'Open Sans', sans-serif;
}

#Testimonial{
  display: block;
  background: url('../images/testimonial_bg.jpg') no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15px;
}

#Testimonial p{
  font: 300i 18px 'Open-Sans', sans-serif;
  font-style: italic;
}

#Testimonial p span{
  font: 600 18px 'Open-Sans', sans-serif;
}

#Join{
  background-color: #f9e42e;
}

.button-2{
  background-color: #033048;
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 20px;
}

#end-page{
  background-color: #121212;
  color: #f9e42e;
  font-size: 24px; 
  text-align: center;
}

#end-page h2{
  font: 800 24px 'Open Sans', sans-serif;
}
#end-page a{
  padding: 12px;
  margin: 10px;
}

#container {
  width: 100%;
  margin: 0;
}

footer {
  background-color: #121212;
  color: #ffffff;
  display: block;
  padding: .025px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




